{% extends "review_generic.html" %}
{% load markup %}

{% block bodyclasses %}listPage{% endblock %}


{% block main %}
	<div id="sheet">
		<h1 id="pageTitle">Blogs</h1>
		<ul class="articleList">
			{% for entry in entries %}
			<li class="article">
				<h1 class="headline"><a href="{{ entry.url }}" rel="bookmark" title="Permanent Link to {{ entry.title }}">{{ entry.title|title|safe }}</a></h1> 
				<p class="byline">from <span class="author"><a href="{{entry.blogurl}}">{{ entry.blogname }}</a></span></p>
				<p class="dateline">{{ entry.date|date }}</p> 
				<div class="text"> 
					{{ entry.summary|striptags|truncatewords:40|markdown }}
				</div>
				<p class="read"><a href="{{entry.url}}">Read more &#187;</a></p>
			</li>
			{% endfor %}
		</ul>
		
		{% if page.has_other_pages %}
		<div class="pagination">
			{% if page.has_previous %}
			<a href="{{request.path}}?page={{page.previous_page_number}}">&#171; Previous</a>
			{% endif %}
			{% if page.has_next %}
			<a href="{{request.path}}?page={{page.next_page_number}}">Next &#187;</a>
			{% endif %}
		</div>
		{% endif %}
		
	</div>
{% endblock %}

{% block sidebar_inner %}
<div class="sideMod">
	<h1>Review Blogs</h1>
	<ul>
	{% for blog in blogs %}
		<li><a href="{{blog.url}}">{{blog.title}}</a></li>
	{% endfor %}
	</ul>
</div>
{% endblock %}